extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 

        include ../../partials/list-btn-users.pug

        .row 
            .col-12 
                +box-head("Chat")
        .row 
            .col-12 
                .chat(my-id=user.id) 
                    .inner-body 
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.user_id != user.id)
                                    .inner-name  #{chat.infoUser.fullName}
                                if(chat.content)
                                    .inner-content 
                                        | #{chat.content}
                                if(chat.images && chat.images != "")
                                    .inner-images
                                        each image in chat.images
                                            img(src=image)
                                
                        div(class="inner-list-typing")
                    .inner-foot 
                        form(
                            class="inner-form dropzone"
                            action="/upload"
                            method="post"
                            enctype="multipart/form-data"
                        )
                            input(
                                type="text"
                                placeholder="Nhập ..."
                                name="content"
                            )
                            div(
                                class="my-dropzone"
                                id="my-dropzone"
                            )
                                i.fa-regular.fa-image(id="upload-icon")
                            span(class="button-icon") 
                                i.fa-regular.fa-face-smile
                            button 
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")