extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        include ../../partials/list-btn-users.pug

        .row 
            .col-12 
                +box-head("Danh sách người dùng")

        .row 
            .col-6
                //- each user in users
                //-     div(class="box-user")
                //-         div(class="inner-avatar")
                //-             img(
                //-                 src=(user.avatar ? user.avatar : "/images/avatar-user.png")
                //-             )
                //-         div(class="inner-info")
                //-             div(class="inner-name") #{user.fullName}
                //-             div(class="inner-buttons")
                //-                 if users.length > 0
                //-                     button(
                //-                         class="btn btn-sm btn-secondary ml-5"
                //-                         btn-cancel-friend=user.id
                //-                     ) Hủy kết bạn
                //-                 else
                //-                     button(
                //-                         class="btn btn-sm btn-primary mr-5"
                //-                         btn-add-friend=user.id
                //-                     ) Kết bạn 
                each user in users
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(src=(user.avatar ? user.avatar : "/images/avatar-user.png"))
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                        class="btn btn-sm btn-primary mr-5"
                                        btn-add-friend=user._id
                                ) Kết bạn
                                button(
                                        class="btn btn-sm btn-secondary ml-5"
                                        btn-cancel-friend=user._id
                                ) Hủy kết bạn

block script 
    script(src="/js/user.js") 